
<div class="container">
    <h2>Upload your file</h2>

    <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>

    <input type="file" nv-file-select uploader="vm.uploader"/><br/>

    <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="sheet in vm.spreadsheetList" ng-click="vm.openSheet(sheet.id)">
            {{ sheet.name }} <span class="pull-right">Last Update: {{ sheet.updated_at  | date : 'medium'}}</span>
        </a>
    </div>
</div>
